{% extends "base.html" %}
{% block title %}Settings{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
   <div class="row justify-content-center">
     <div class="col-6">
      <form method = 'post' enctype="multipart/form-data">
        {% csrf_token %}
          <fieldset class="form-group">
              {{form}}
          </fieldset>
          <img src="{{user.get_avatar_url}}" id="avatar_image" class="w-50"/>
     </form>
         <div id="pre_submit"></div>
         <div class = "btn btn-primary w-100 mb-1" id="submit_button">Save</div>
    </div>


   </div>

<div id="result">{{result}}</div>

{% endblock %}

{% block scripts %}
{% load static %}
<script type="text/javascript" src='{% static "profile/js/prevent_password_mismatch.js" %}'></script>
<script type="text/javascript" src='{% static "profile/js/avatar_preview.js" %}'></script>
{% endblock %}
