{% extends "base.html" %}
{% block title %}Settings{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
   <div class="row">
      <div class="col-4">
          {% if form.errors %}
          <div class="failed_animation">
              {{form.errors.email}}
              {{form.errors.avatar}}
              {{form.non_field_errors}}
          </div>
          {% endif %}
     </div>
     <div class="col-4">
      <form method = 'post' enctype="multipart/form-data">
        {% csrf_token %}
          <fieldset class="form-group">
              Login: <b>{{user.username}}</b>
              {{form.username}}
              <br/>
              <br/>
              {{form.email}}
              <br/>
              {{form.password}}
              <br/>
              {{form.password_again}}
              <br/>
              {{form.avatar}}
              <br/>
              <label for="id_avatar" class="">Select avatar</label>
              <img src="{{user.get_avatar_url}}" class="img-thumbnail"/>
          </fieldset>
     </form>
         <div class = "btn btn-primary w-100 mb-1" id="submit_button">Save</div>
         <div id="pre_submit"></div>
    </div>


   </div>

<div id="result">{{result}}</div>

{% endblock %}

{% block scripts %}
{% load static %}
<script type="text/javascript" src='{% static "profile/js/prevent_password_mismatch.js" %}'></script>
{% endblock %}
