{% extends "base.html" %}
{% block title %}Signup{% endblock %}

{% block styles%}
{% endblock %}

{% load filters %}
{% block content %}
   <div class="row justify-content-center">
     <div class="col-6 self-align-center">
      <form method = 'post' enctype="multipart/form-data">
        {% csrf_token %}
          <fieldset class="form-group">
            {{form}}
          </fieldset>
     </form>
         <div class = "btn btn-primary w-100" id="submit_button">Signup</div>
         <div id="pre_submit"></div>
    </div>

   </div>

{% endblock %}

{% block scripts %}
{% load static %}
<script type="text/javascript" src='{% static "profile/js/prevent_password_mismatch.js" %}'></script>
{% endblock %}
