<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link rel='stylesheet' href="{% static 'css/vendor/bootstrap/bootstrap.min.css' %}" />
    <link rel='stylesheet' href="{% static 'css/base.css' %}" />
    <link rel='stylesheet' href="{% static 'css/vendor/fontawesome/all.css' %}" />
    {% block styles %}
    {% endblock %}
    <title>{% block title %}base{% endblock %}</title>
  </head>
  <div class="container">
    <div class="row pt-4 h-100">
    <div class="h2 col-2 no_link_behaviour"><a href="{% url 'mainpage' %}">Hasker</a></div>
        <div class="col-6 my-auto">
            <form method="POST" action="/search/" id="form_search">
                {% csrf_token %}
                    <div class="input-group w-100">
                        <input class="form-control py-2 border-right-0 border" placeholder="search..." type="search" value="" id="form_search__input">
                        <span class="input-group-append">
                            <button id="form_search__button" class="btn btn-outline-secondary border-left-0 border" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                          </span>
                    </div>
            </form>
        </div>
        {% if user %}
        <div class="col-4 justify-content-end d-flex">
            <div class="row">
                <div class="col-6 justify-content-end d-flex">
                    <!--TODO move resize image to model -->
                    <img src="{{user.get_avatar_url}}" class="img-thumbnail"/>
                </div>
                <div class="col-6">
                    <a href="{% url 'settings' %}">{{user.username}}</a>
                    <br/>
                    <a href="{% url 'logout' %}"><img src="/static/img/exit32.png"/></a>

                </div>
            </div>
        </div>

        {% else %}
        <div class="col-2 offset-2">
            <a href="{% url 'login' %}"><div class="btn btn-primary">login</div></a>
            <a href="{% url 'signup' %}"><div class="btn btn-primary">sign up</div></a>
        </div>

        {% endif %}

    </div>
  </div>
  <hr/>
 </div>

  <body>
    <div class="container">
        <div class="row">
            <div class="col-10 mt-1">
                {% block content %}

                {% endblock %}
            </div>
            <div class="col-2 mt-5">
                <div class="row">
                   <div class="col-12">
                       {% if user %}
                        <a href="{% url 'ask' %}"><div class="btn btn-primary w-100">New question</div></a>
                       {% endif %}
                       <div class="h3 mt-4">Trending</div>
                   </div>
                </div>
               {% for question in trending_questions %}
               <div class="row mt-1">
                  <div class="col-2 mx-auto">
                      <div class="badge badge-secondary">{{question.get_rating}}</div>
                  </div>
                   <div class="col-10 no_link_behaviour"><a href="{% url 'question' question.id %}">{{question.header}}</a></div>
               </div>
               {% endfor %}
            </div>
        </div>
    </div>

  </body>


{% block scripts %}
<script type="text/javascript" src='{% static "hasker/js/search.js" %}'></script>
{% endblock %}

</html>
