{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="h3">
            <a href="{% url 'mainpage' %}">New questions</a>|<a href="{% url 'mainpage_hot_questions' %}">Hot questions</a>
        </div>
    </div>
</div>

{% load filters %}
{% for question in questions %}
<hr/>

<div class="row">
   <div class="col-2">
      <div class="row">
         <div class="col-6 text-center">
             <div>{{question.get_rating}}</div>
             <div>Votes</div>
         </div>
         <div class="col-6 text-center">
             <div>{{question.get_answers.count}}</div>
             <div>Answers</div>
         </div>
      </div>
   </div>
    <div class="col-6 no_link_behaviour">
      <a href="{% url 'question' question.id %}">
          <div class="h3">{{question.header}}</div>
      </a>
      {% for tag in question.get_tags %}
      <a href="{% url 'search_by_tag' tag.tag_name %}">
            <div class="badge badge-info">{{tag.tag_name}}</div>
      </a>
      {% endfor %}
   </div>
   <div class="col-2">
      <div class="h6">{{question.author.username}}</div>
       <div class="small">{{question.creation_date|get_due_date_string}}</div>
   </div>

</div>
{% endfor %}
{% include 'pagination.html' %}
{% endblock %}

{% block scripts %}
{% endblock %}

